<robot name="diana7" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ========= Arguments ========= -->

  <xacro:arg name="prefix" default=""/>

  <xacro:arg name="use_fake_hardware" default="true"/>

  <xacro:arg name="fake_sensor_commands" default="false"/>

  <xacro:arg name="use_gazebo" default="false"/>

  <xacro:property name="prefix" value="$(arg prefix)"/>

  <!-- ========= Includes ========= -->

  <xacro:include filename="$(find diana_description)/robots/diana7/diana7.urdf.xacro"/>

  <xacro:include filename="$(find diana_description)/robots/diana7/diana7.ros2_control.xacro"/>

  <xacro:include filename="$(find diana_description)/robots/diana7/diana7.gazebo.xacro"/>

  <!-- ========= World ========= -->

  <link name="world"/>

  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="${prefix}base_link"/>
  </joint>

  <!-- ========= Geometry ========= -->

  <xacro:diana7 prefix="${prefix}"/>

  <!-- ========= ros2_control ========= -->

  <xacro:diana7_ros2_control
      prefix="${prefix}"
      use_fake_hardware="$(arg use_fake_hardware)"
      fake_sensor_commands="$(arg fake_sensor_commands)"/>

  <!-- ========= Gazebo ========= -->

  <xacro:if value="$(arg use_gazebo)">
    <xacro:diana7_gazebo prefix="${prefix}"/>
  </xacro:if>

</robot>