<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
    name="diana7">

    <xacro:arg name="prefix" default="" />

    <!-- ============================ -->
    <!-- Virtual Joint                -->
    <!-- ============================ -->

    <virtual_joint
        name="world_joint"
        type="fixed"
        parent_frame="world"
        child_link="$(arg prefix)base_link" />

    <!-- ============================ -->
    <!-- Planning Group               -->
    <!-- ============================ -->

    <group name="diana_arm">

        <chain
            base_link="$(arg prefix)base_link"
            tip_link="$(arg prefix)tool0" />

    </group>

    <!-- ============================ -->
    <!-- End Effector                 -->
    <!-- ============================ -->

    <end_effector
        name="tool"
        parent_link="$(arg prefix)tool0"
        group="diana_arm" />

    <!-- ============================ -->
    <!-- Default States               -->
    <!-- ============================ -->

    <group_state
        name="home"
        group="diana_arm">

        <joint name="$(arg prefix)joint1" value="0.0" />
        <joint name="$(arg prefix)joint2" value="0.0" />
        <joint name="$(arg prefix)joint3" value="0.0" />
        <joint name="$(arg prefix)joint4" value="0.0" />
        <joint name="$(arg prefix)joint5" value="0.0" />
        <joint name="$(arg prefix)joint6" value="0.0" />
        <joint name="$(arg prefix)joint7" value="0.0" />

    </group_state>

    <!-- ============================ -->
    <!-- Disable Adjacent Collisions  -->
    <!-- ============================ -->

    <disable_collisions
        link1="$(arg prefix)base_link"
        link2="$(arg prefix)link1"
        reason="Adjacent" />

    <disable_collisions
        link1="$(arg prefix)link1"
        link2="$(arg prefix)link2"
        reason="Adjacent" />

    <disable_collisions
        link1="$(arg prefix)link2"
        link2="$(arg prefix)link3"
        reason="Adjacent" />

    <disable_collisions
        link1="$(arg prefix)link3"
        link2="$(arg prefix)link4"
        reason="Adjacent" />

    <disable_collisions
        link1="$(arg prefix)link4"
        link2="$(arg prefix)link5"
        reason="Adjacent" />

    <disable_collisions
        link1="$(arg prefix)link5"
        link2="$(arg prefix)link6"
        reason="Adjacent" />

    <disable_collisions
        link1="$(arg prefix)link6"
        link2="$(arg prefix)link7"
        reason="Adjacent" />

    <disable_collisions
        link1="$(arg prefix)link7"
        link2="$(arg prefix)tool0"
        reason="Adjacent" />

</robot>